.slider {
  width: 1400px;
  height: 600px;
  position: relative;
  margin: auto;
}

.photos_links {
  display: none;
}
#show {
  display: block;
}
.upper_img {
  width: 100%;
  height: 560px;
}
.detail_img {
  width: 100%;
  height: 420px;
}
.about_us {
  margin-top: 60px;
}
.footer_img {
  width: 100%;
  height: 200px;
  display: inline-block;
}
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.active2,
.dot:hover {
  background-color: #ffd333;
}
.ct_show {
  display: none;
  color: #ffd333;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.ct_show :hover {
  color: #e6b400;
  text-decoration: none;
}
.prd_click {
  cursor: pointer;
}

.text {
  padding-top: 0px;
  text-align: right;
  padding-right: 20px;
  font-size: 15px;
  color: #e6b400;
}

.sub {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  justify-content: center;
  color: #495057;
  font-size: 25px;
  opacity: 0.8;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 15px;
  background-color: #e6b400;
  margin-top: 20px;
}
.sub:hover {
  opacity: 1;
}
.img_height {
  height: 320px;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.cat_img {
  height: 100px;
}
